NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

NEXT_PUBLIC_DIGIPURSE_REGULAR_TRANSACTION_LIMIT=
NEXT_PUBLIC_DIGIPURSE_REGULAR_WALLET_LIMIT=
NEXT_PUBLIC_DIGIPURSE_REGULAR_CATEGORY_LIMIT=
NEXT_PUBLIC_DIGIPURSE_PREMIUM_TRANSACTION_LIMIT=
NEXT_PUBLIC_DIGIPURSE_PREMIUM_WALLET_LIMIT=
NEXT_PUBLIC_DIGIPURSE_PREMIUM_CATEGORY_LIMIT=


# Linux: `openssl rand -hex 32` or go to https://generate-secret.vercel.app/32

AUTH_SECRET=

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=

# AUTH_FACEBOOK_ID=
# AUTH_FACEBOOK_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_LINE_ID=
AUTH_LINE_SECRET=

AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=

# AUTH_FACEBOOK_ID=
# AUTH_FACEBOOK_SECRET=

#Stripe Checkout
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=